@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#nprogress .bar {
  background: #8714bd !important;
}

#nprogress .spinner-icon {
  border-top-color: #8714bd !important;
  border-left-color: #8714bd !important;
}

/* Parity Deals CSS */

/* .parity-banner-has-logo {
  z-index: 50;
  bottom: 0 !important;
  width: 100vw !important;
  position: fixed !important;
}
.parity-banner-logo {
  display: none !important;
}
.parity-banner.parity-banner-has-logo {
  padding-left: 0px !important;
} */

/* Modal CSS */
.modal {
  @apply invisible fixed  inset-0  z-[60] flex  items-center  justify-center overscroll-none bg-black/60 px-4  text-left opacity-0 transition-all;
}

.modal-overlay {
  @apply absolute inset-0;
}

.modal-state {
  @apply hidden;
}
.modal-state:checked + .modal,
.modal-open.modal {
  @apply visible  translate-y-0 scale-100 opacity-100;
}

html:has(.modal-state:checked, .modal-open) {
  @apply overflow-hidden;
}

.modal-state:checked + .modal .modal-content,
.modal-open .modal-content {
  @apply translate-y-0 scale-100;
}

.modal-content {
  @apply relative h-max max-h-[calc(100%-10%)] max-w-lg scale-90  overflow-auto rounded-xl p-6 transition duration-75 ease-in-out;
}
