@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: hsl(212.7, 26.8%, 83.9);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#nprogress .bar {
  background: #8714bd !important;
}

#nprogress .spinner-icon {
  border-top-color: #8714bd !important;
  border-left-color: #8714bd !important;
}

/* Parity Deals CSS */

/* .parity-banner-has-logo {
  z-index: 50;
  bottom: 0 !important;
  width: 100vw !important;
  position: fixed !important;
}
.parity-banner-logo {
  display: none !important;
}
.parity-banner.parity-banner-has-logo {
  padding-left: 0px !important;
} */

/* Popover CSS */
.popover {
  @apply relative inline-block w-max text-left;
}

.popover-trigger {
  @apply inline-flex;
}

.popover-content {
  transition-property: transform, opacity, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  @apply invisible absolute left-1/2 right-full  z-[49] flex w-56  origin-top -translate-x-1/2 -translate-y-2 scale-95   transform flex-col rounded-xl border  border-transparent p-2 opacity-0 shadow-lg outline-none duration-150 will-change-transform;
}

.popover-bottom-center {
  @apply invisible left-1/2 right-full top-full origin-top -translate-x-1/2  -translate-y-2;
}

.popover-bottom-right {
  @apply invisible left-0 origin-top-left -translate-y-2 translate-x-0;
}

.popover-bottom-left {
  @apply invisible left-auto right-0 origin-top-right -translate-y-2 translate-x-0;
}
.popover-top-center {
  @apply invisible bottom-full left-1/2 right-full origin-bottom -translate-x-1/2 translate-y-2;
}

.popover-top-right {
  @apply invisible bottom-full left-1/2 ml-[-50%] origin-bottom-left translate-x-0 translate-y-2;
}

.popover-top-left {
  @apply invisible bottom-full left-1/2 right-0 ml-auto origin-bottom-right translate-x-0 translate-y-2;
}

.popover-left {
  @apply invisible bottom-auto left-auto right-full top-1/2 origin-right -translate-y-1/2 translate-x-2;
}

.popover-right {
  @apply invisible bottom-auto left-full top-1/2 origin-left -translate-x-2 -translate-y-1/2;
}

.popover-left-bottom {
  @apply invisible left-auto right-full mt-0 origin-top-right -translate-y-10  translate-x-2;
}

.popover-right-bottom {
  @apply invisible left-full origin-top-left -translate-x-2 -translate-y-10;
}

.popover-left-top {
  @apply invisible bottom-0 left-auto right-full origin-bottom-right translate-x-2 translate-y-5;
}

.popover-right-top {
  @apply invisible bottom-0 left-full origin-bottom-left -translate-x-2 translate-y-5;
}

.popover-open .popover-content,
.popover-open .popover-bottom-center,
.popover .popover-trigger:focus ~ .popover-content,
.popover-open .popover-bottom-center,
.popover-hover:hover .popover-trigger ~ .popover-content,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-bottom-center,
.popover-trigger:focus ~ .popover-content.popover-bottom-center,
.popover:not(.popover-hover) .popover-content:where(:focus, :focus-within, :focus-visible),
.popover:not(.popover-hover) .popover-bottom-center:where(:focus, :focus-within, :focus-visible) {
  @apply visible  -translate-x-1/2   translate-y-0 scale-100 opacity-100;
}

.popover-open .popover-top-center,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-top-center,
.popover-trigger:focus ~ .popover-content.popover-top-center,
.popover:not(.popover-hover) .popover-top-center:where(:focus, :focus-within, :focus-visible) {
  @apply visible  -translate-x-1/2 translate-y-0  scale-100  opacity-100;
}

.popover-open .popover-bottom-right,
.popover-trigger:focus ~ .popover-content.popover-bottom-right,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-bottom-right,
.popover:not(.popover-hover) .popover-bottom-right:where(:focus, :focus-within, :focus-visible) {
  @apply visible translate-x-0 translate-y-0 scale-100 opacity-100;
}
.popover-open .popover-bottom-left,
.popover-trigger:focus ~ .popover-content.popover-bottom-left,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-bottom-left,
.popover:not(.popover-hover) .popover-bottom-left:where(:focus, :focus-within, :focus-visible) {
  @apply visible translate-x-0 translate-y-0 scale-100 opacity-100;
}

.popover-open .popover-left,
.popover-trigger:focus ~ .popover-content.popover-left,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-left,
.popover:not(.popover-hover) .popover-left:where(:focus, :focus-within, :focus-visible) {
  @apply visible bottom-auto left-auto top-1/2 -translate-y-1/2 translate-x-0  scale-100 opacity-100;
}
.popover-open .popover-right,
.popover-trigger:focus ~ .popover-content.popover-right,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-right,
.popover:not(.popover-hover) .popover-right:where(:focus, :focus-within, :focus-visible) {
  @apply visible bottom-auto right-auto top-1/2 -translate-y-1/2 translate-x-0   scale-100 opacity-100;
}
.popover-open .popover-left-bottom,
.popover-open .popover-right-bottom,
.popover-trigger:focus ~ .popover-content.popover-left-bottom,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-left-bottom,
.popover:not(.popover-hover) .popover-left-bottom:where(:focus, :focus-within, :focus-visible),
.popover-trigger:focus ~ .popover-content.popover-right-bottom,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-right-bottom,
.popover:not(.popover-hover) .popover-right-bottom:where(:focus, :focus-within, :focus-visible) {
  @apply visible -translate-y-10 translate-x-0 scale-100 opacity-100;
}

.popover-open .popover-left-top,
.popover-open .popover-right-top,
.popover-trigger:focus ~ .popover-content.popover-left-top,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-left-top,
.popover:not(.popover-hover) .popover-left-top:where(:focus, :focus-within, :focus-visible),
.popover-trigger:focus ~ .popover-content.popover-right-top,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-right-top,
.popover:not(.popover-hover) .popover-right-top:where(:focus, :focus-within, :focus-visible) {
  @apply visible translate-x-0 translate-y-5 scale-100 opacity-100;
}
.popover-open .popover-top-right,
.popover-open .popover-top-left,
.popover-trigger:focus ~ .popover-content.popover-top-right,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-top-right,
.popover:not(.popover-hover) .popover-top-right:where(:focus, :focus-within, :focus-visible),
.popover-trigger:focus ~ .popover-content.popover-top-left,
.popover-hover:hover .popover-trigger ~ .popover-content.popover-top-left,
.popover:not(.popover-hover) .popover-top-left:where(:focus, :focus-within, :focus-visible) {
  @apply visible translate-x-0 translate-y-0 scale-100 opacity-100;
}
.popover-arrow {
  @apply absolute h-[0.7rem] w-[0.7rem] border-transparent;
}
.popover-border .popover-content .popover-arrow,
.popover-border .popover-content {
  @apply border-border;
}
.popover-content:not(
    .popover-bottom-center,
    .popover-top-center,
    .popover-bottom-right,
    .popover-bottom-left,
    .popover-left,
    .popover-right,
    .popover-left-bottom,
    .popover-right-bottom,
    .popover-left-top,
    .popover-right-top,
    .popover-top-right,
    .popover-top-left
  )
  .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply left-1/2 top-0 border-l border-t;
}

.popover-bottom-center .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply left-1/2 top-0 border-l border-t;
}

.popover-top-center .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply -bottom-3 left-1/2 border-b border-r;
}

.popover-bottom-right .popover-arrow {
  transform: translate(50%, -50%) rotate(45deg);
  @apply left-4 top-0 border-l border-t;
}

.popover-bottom-left .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply right-4 top-0 border-l border-t;
}

.popover-left .popover-arrow {
  transform: translate(50%, -50%) rotate(45deg);
  @apply right-0 top-1/2 border-r border-t;
}

.popover-right .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply left-0 top-1/2 border-b border-l;
}

.popover-left-bottom .popover-arrow {
  transform: translate(50%, 50%) rotate(45deg);
  @apply right-0 top-4 border-r border-t;
}
.popover-right-bottom .popover-arrow {
  transform: translate(-50%, 50%) rotate(45deg);
  @apply left-0 top-4 border-b border-l;
}

.popover-left-top .popover-arrow {
  transform: translate(50%, -50%) rotate(45deg);
  @apply bottom-4 right-0 border-r border-t;
}

.popover-right-top .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply bottom-4 left-0 border-b border-l;
}

.popover-top-right .popover-arrow {
  transform: translate(50%, -50%) rotate(45deg);
  @apply -bottom-3 left-4 border-b border-r;
}

.popover-top-left .popover-arrow {
  transform: translate(-50%, -50%) rotate(45deg);
  @apply -bottom-3 right-4 border-b border-r;
}

/* Modal CSS */
.modal {
  @apply invisible fixed  inset-0  z-[60] flex  items-center  justify-center overscroll-none bg-black/60 px-4  text-left opacity-0 transition-all;
}

.modal-overlay {
  @apply absolute inset-0;
}

.modal-state {
  @apply hidden;
}
.modal-state:checked + .modal,
.modal-open.modal {
  @apply visible  translate-y-0 scale-100 opacity-100;
}

html:has(.modal-state:checked, .modal-open) {
  @apply overflow-hidden;
}

.modal-state:checked + .modal .modal-content,
.modal-open .modal-content {
  @apply translate-y-0 scale-100;
}

.modal-content {
  @apply relative h-max max-h-[calc(100%-10%)] max-w-lg scale-90  overflow-auto rounded-xl p-6 transition duration-75 ease-in-out;
}
